body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin: 8px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
}
 section header ul li button{ 
    background-color: #4584ef;
    border:none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
section .m1{
    justify-content: center;
    display: flex;
    position: absolute;
    color: rgb(255, 0, 187);
    text-transform: uppercase;
    font-size: 10px;
}
 section .main{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 section .main .searchbox{
    position: relative;
    width: 87%;
    margin-top:10px;
 }
 section .main .searchbox .search{
    width: 81%;
    padding: 8px;
    padding-left: 45px;
    padding-right: 39px;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }
   section .main .searchbox  .icons{
   position: absolute;
   top: 0;
   width: 97%;
   display: flex;
   padding: 11px 10px;
   justify-content:space-between;
   align-items: center;
   pointer-events: none;
   font-size: 19px;
}
section .main .buttons{
    margin-top: 13px;
}
section .main .buttons .button{
    margin: 0 5px;
    padding: 12px 25px;
    color: #555;
    font-size: 8px;
    border: none;
    border-radius: 1px solid transparent;
    outline: none;
}
@media (max-width:480px) {
    section .main .searchbox .search{
        width: 77%;
        padding-left: 41px;
        padding-right: 42px;
        font-size: 17px;
    }
 section .main .searchbox .icons{
    width: 93%;
    font-size: 15px;
    padding: 14px 10px;
 }
 section header{
        width: 88%;
    }
}
@media (max-width:360px) {
    section .main .searchbox .search{
        width: 80%;
        padding-left: 27px;
        padding-right: 27px;
        font-size: 12px;
    }
 section .main .searchbox .icons{
    width: 93%;
    font-size: 11px;
    padding: 8px 10px;
 }
 section .header{
        width: 88%;
    }
}